html,
body {
	height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.work-container, .blog-container, .details-container{
	max-width: 682px;
	margin: 0 auto;
	padding: 0 15px;
}

.place {
	color: #FF6464;
}





