@media (max-width: 991px) {
	.top__inner{
		display: flex;
		flex-direction: column;
	}
	.top__wrapper-info{
		display: flex;
		justify-content: center;
		order: 1;
	}
	.top__info{
		margin-right: 0;
	}
	.top__info-john{
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}
	.top__info-text{
		max-width: 423px;
		text-align: center;
		position: relative;
		left: 15px;
	}
	.top__info-title{
		max-width: 435px;
		text-align: center;
	}
	.top__info-btn{
		left: 143px;
    position: relative;
	}

	.posts__top{
		display: flex;
		flex-direction: column;
	}
	.posts__top-link{
		display: none;
	}
	.posts__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.posts__content-title{
		font-size: 24px;
	}
	.posts__content-date{
		font-size: 24px;
	}
	.posts__content-name{
		font-size: 16px;
	}
	.posts__content-text{
		font-size: 14px;
	}

	.favorites__top-text {
		font-size: 20px;
		padding-top: 10px;
  }
  	.favorites__content{
		  padding-top: 16px;
	  }
	.favorites__content-title{
		font-size: 28px;
	}
	.favorites__content-date{
		font-size: 16px;
	}	
	.favorites__content-name{
		padding-bottom: 20px;
		font-size: 18px;
	}
	.favorites__content-text{
		font-size: 14px;
	}
}

@media (max-width: 767px) {
	.posts__top-text {
		font-size: 20px;
  }
	.posts__content-title{
		font-size: 22px;
		max-width: 327px;
	}

	.favorites__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.favorites__top{
		display: flex;
		flex-direction: column;
	}
	.favorites__main-img{
		display: none;
	}
	.favorites__mobile-img{
		display: block;
		align-items: center;
		position: relative;
	}
	.favorites__top-text {
		font-size: 20px;
		padding-top: 10px;
	}
  	.favorites__content{
		padding-top: 16px;
		display: flex;
		flex-direction: column;
		max-width: 375px;
	}
	.favorites__content-second{
		display: none;
	}
	.favorites__content-third{
		display: none;
	}
	.favorites__content-title{
		font-size: 28px;
		text-align: left;
		margin-top: 20px;
	}
	.favorites__content-date{
		font-size: 16px;
	}	
	.favorites__content-name{
		padding-bottom: 20px;
		font-size: 18px;
	}
	.favorites__content-text{
		font-size: 14px;
		padding-bottom: 20px;
	}



	.works__content-title{
		display: none;
	}
	.works__content-title-mobile{
		font-size: 26px;
		text-align: left;
		margin-top: 20px;
		display: block;
	}
	.works__content-mobile-img{
		display: block;
	}
	.works__content-img{
		display: none;
	}
	.works__content-text{
		font-size: 16px;
		max-width: 339px;
		text-align: left;
	}
	.works__top{
		flex-direction: column;
		align-items: center;
	}
	.works__content{
		flex-direction: column;
		align-items: center;
	}
	.works__content-third{
		display: none;
	}
	.works__content-four{
		display: none;
	}
	.works__content-date-mobile{
		display: inline-block;
	}
	.works__content-name-mobile{
		display: inline-block;
	}
	.works__content-date{
		display: none;
	}
	.works__content-name{
		display: none;
	}
}

@media (max-width: 480px) {
	.header__btn-menu{
		order: 3;
		display: block;
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: 20;
		span{
			background-color: black;
			width: 37px;
			height: 3px;
			border-radius: 4px;
			display: block;
			position: relative;
			bottom: 200px;
			margin: 6px 0;
		}
	}

	.header__container{
		height: 100px;
	}
	.header__inner{
		flex-wrap: wrap;
		padding-top: 20px;
	}

	.menu{
		position: relative;
		width: 100%;
		background-color: white;
		position: relative;
		z-index: 5;
		text-align: center;
		transform: translateY(-300px);
		transition: all 0.5s;
	}
	.menu--open{
			transform: translateY(50px);
	}
	.menu__list{
		display: block;
	}
	.menu__list-item{
		padding-left: 0;
	}
	.menu__list-link{
		display: block;
		padding: 5px 0;
	}
	
	.top__inner{
		padding-top: 0px;
	}
	.top__john-img{
		display: none;
	}
	.top__john-mobile-img{
		display: block;
	}
	.top__wrapper-info{
		display: flex;
		justify-content: center;
		order: 1;
	}
	.top__info-text{
		max-width: 328px;
		text-align: center;
		position: relative;
		left: 5px;
		font-size: 16px;
	}
	.top__info-title{
		max-width: 435px;
		text-align: center;
		font-size: 32px;
		max-width: 312px;
		position: relative;
		left: 10px;
	}
	.top__info-btn{
		left: 80px;
   	position: relative;
		font-size: 20px;
	}

	.posts__top{
		display: flex;
		justify-content: space-evenly;
	}
	.posts__top-text {
		font-size: 20px;
  }
	.posts__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.posts__content-title{
		font-size: 20px;
		max-width: 327px;
	}
	.posts__content-date{
		font-size: 16px;
	}
	.posts__content-text{
		font-size: 16px;
	}
 
	.favorites__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.favorites__top{
		display: flex;
		flex-direction: column;
	}
	.favorites__main-img{
		display: none;
	}
	.favorites__mobile-img{
		display: block;
		align-items: center;
		position: relative;
	}
  	.favorites__content{
		display: flex;
		flex-direction: column;
		max-width: 375px;
	}
	.favorites__content-second{
		display: none;
	}
	.favorites__content-third{
		display: none;
	}
	.favorites__content-title{
		text-align: left;
		margin-top: 20px;
	}	
	.favorites__content-text{
		padding-bottom: 20px; 
	}

	.blog__title{
		font-size: 30px;
	}
	.blog__content-title{
		font-size: 26px;
	}
	.blog__content-name{
		font-size: 16px;
	}
	.blog__content-date{
		font-size: 16px;
	}
	.blog__content-text{
		max-width: 339px;
	}

	.works__content-title{
		padding-top: 10px;
	}

	.details__content-title{
		font-size: 28px;
	}
	.details__content-date{
		font-size: 14px;
	}
	.details__content-name{
		max-width: 262px;
		font-size: 14px;
	}
}

@media (max-width: 350px) {	
	.top__inner{
		display: flex;
		flex-direction: column;
	}
	.top__john-img{
		display: none;
	}
	.top__john-mobile-img{
		display: block;
	}
	.top__wrapper-info{
		display: flex;
		justify-content: center;
		order: 1;
	}
	.top__info{
		margin-right: 0;
	}
	.top__info-john{
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}
	.top__info-text{
		max-width: 328px;
		text-align: center;
		position: relative;
		left: 5px;
		font-size: 14px;
	}
	.top__info-title{
		max-width: 435px;
		text-align: center;
		font-size: 32px;
		max-width: 312px;
		position: relative;
		left: 10px;
		line-height: normal;
	}
	.top__info-btn{
		left: 82px;
   	position: relative;
		font-size: 16px;
	}

	.posts__top{
		display: flex;
		justify-content: space-evenly;
	}
	.posts__top-text {
		font-size: 20px;
  }
	.posts__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.posts__content-title{
		font-size: 17px;
		max-width: 327px;
	}
	.posts__content-date{
		font-size: 13px;
	}
	.posts__content-name{
		font-size: 13px;
	}
	.posts__content-text{
		font-size: 15px;
	}

	.favorites__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.favorites__top{
		display: flex;
		flex-direction: column;
	}
	.favorites__main-img{
		display: none;
	}
	.favorites__mobile-img{
		display: block;
		align-items: center;
		position: relative;
	}
	.favorites__top-text {
		font-size: 20px;
		padding-top: 10px;
	}
  	.favorites__content{
		padding-top: 16px;
		display: flex;
		flex-direction: column;
		max-width: 375px;
	}
	.favorites__content-second{
		display: none;
	}
	.favorites__content-third{
		display: none;
	}
	.favorites__content-title{
		font-size: 28px;
		text-align: left;
		margin-top: 20px;
	}
	.favorites__content-date{
		font-size: 16px;
	}	
	.favorites__content-name{
		padding-bottom: 20px;
		font-size: 18px;
	}
	.favorites__content-text{
		font-size: 14px;
		padding-bottom: 20px;
	}
	.blog__title{
		font-size: 30px;
	}
	.blog__content-title{
		font-size: 24px;
	}
	.blog__content-name{
		font-size: 14px;
	}
	.blog__content-date{
		font-size: 14px;
	}
	.blog__content-text{
		max-width: 339px;
		font-size: 14px;
	}

	.works__content-text{
		font-size: 14px;
	}

	.details__content-date{
		font-size: 16px;
		margin-bottom: 20px;
	}
	.details__content-name{
		max-width: 262px;
		font-size: 14px;
		display: none;
	}
	.details__content-text{
		font-size: 14px;
	}
}